.NavUser {
  border: 14px green solid;
  height: calc( 100vh - 91.99px );
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  background-color: greenyellow;
  text-align: center;
} 

.container-PanelUser {
  display: flex;
  align-items: center;
}

.container-PhUser {
  display: flex;
  border: 10px solid green;
  width: 200px;
  height: 200px;
  border-radius: 120px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Ph-User{
    width: 300px;
}

.userName{
    font-size: 45px;
    margin: 0;
    padding: 0;
}

.container-Buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
}
