
.NavUser {
  border: 14px green solid;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  background-color: greenyellow;
  text-align: center;
} 

.container-PanelUser {
  display: flex;
  align-items: center;  
  height: calc(100vh - 80px);
}

.container-PhUser {
  display: flex;
  border: 10px solid green;
  width: 200px;
  background-color:#333;
  height: 200px;
  border-radius: 120px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 100px;
}

.container-PhUser h1{
  font-weight: bolder;
  color:white;
}

.Ph-User{
    width: 300px;
}

.userName{
    font-size: 45px;
    margin: 0;
    padding: 0;
}

.container-Buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
}

.infoUser{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.container-cards{
   
  width: 100%;
  justify-content: center;
  display: flex;
}
.container-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 224px));
  max-width: 1200px;
  justify-content: center;
  padding-top: 35px;
  position: relative;
  gap: 10px;
  margin-bottom: 20px;
}
.muestras{
  width: calc(99vw - 300px);
  height: calc(99vh - 80px);
  padding: 20px;
}