@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,900&display=swap');
body {
  margin: 0;
  font-family:  'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./imgs/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
h1,
h2,
h3,
h4,
h5,
div,
span,
h6{
  font-family:  'Poppins', sans-serif !important;
}
code {
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 1440px) {
  .img-diapo {
    width: 100%;
    height: 20rem;
  }
}

@media (max-width: 800px){
  .row p{
    display: none;
  }
}
@media (max-width: 499px){
  .container-cards{
    justify-content: center;
}
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root{
  font-family:  'Poppins', sans-serif !important;
}