.conetnedor-hover-shDesct-postproduct {
  position: relative;
  overflow: hidden;
}
.hover-shDesct-postproduct {
  display: flex;
  position: absolute;
  background: #e0ffd6;
  left: 0;
  top: 300px;
  border-top-left-radius: 20px;
  z-index: 1;
  padding: 5px;
  transition: all 0.5s;
  text-align: center;
  box-shadow: inset 0px -33px 10px -17px black
}
.hover-shDesct-postproduct:after {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  z-index: -1;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #e0ffd6;
}
.hover-shDesct-postproduct:before {
  content: "";
  position: absolute;
  top: -47px;
  left: -55px;
  width: 100px;
  height: 100px;
  z-index: -1;
  transform: rotate(-95deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #e0ffd6;
}
.contenedor-carta-postproduct:hover .hover-shDesct-postproduct {
  display: flex;
  top: 150px;
}
.contenedor-img-card {
  width: 224px;
  display: flex;
  background: #fff;
  height: 224px;
  object-fit: cover;
  object-position: center;
  justify-content: center;
}
