.button-menu{
    width: 400px;
    height: 400px;
}

.Temarios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerAyuda{
    text-align: center;
    color: white;
}
