.Contacto{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

hr{
    width: 80%;
}

ul{
    list-style: none;
}

li{
    display: flex;
    align-items: center;
    margin: 10px;
}

a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 5px;
}

.paper-footer{
    justify-content: center;
    text-align: center;
    width: 100%;
}

.container-sections{
    display: flex;
    justify-content: space-around;
}

.lista-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.link-footer{
    font-size: 25px;
}
