.img-diapo{
    width: 70rem;
    height: calc(100vh - 270px);
    border-radius: 10px;
}

.desc-diapo{
    margin: 1px;
    padding: 2rem;
}

.Container{
    display: flex;
    justify-content: center;
    box-shadow: 60px -16px teal;

}

.title-diapo{
    text-align: center;
    font-size: 50px;
    text-decoration: underline white;
}


.row{
    display: flex;
}

.row p{
    padding: 15px;
    width: 20rem;
    font-size: 20px;
    line-height: 30px;
}



