.img-diapo{
    width: 70rem;
    height: calc(100vh - 270px);
    border-radius: 10px;
}

.desc-diapo{
    margin: 1px;
    padding: 2rem;
}

.Container{
    display: flex;
    justify-content: center;
    box-shadow: 60px -16px teal;

}

.title-diapo{
    text-align: center;
    font-size: 50px;
    text-decoration: underline white;
}


.row{
    display: flex;
}

.p-row-carrousel{
    padding: 15px;
    width: 20rem;
    font-size: 20px;
    line-height: 30px;
}

.card-carrousel-creador-contenedor{
    width: 48%;
    display: flex;
    flex-direction: column;   
    background-color: white; 
    height: max-content;
}
.card-carrousel-creador-contenedor .img-card{
    width: 100%;
    height: 300px;
}
.card-carrousel-creador-contenedor .button-card-contenedor{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-carrousel-creador-contenedor .button-card{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 5.5px;
    font-weight: bold;
    transition: .2s linear;
    border: 1px solid rgb(231, 227, 227);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.card-carrousel-creador-contenedor .user-photo-card{    
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgb(231, 227, 227);
  box-shadow: 2px 2px 10px lightslategray;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
    cursor: pointer;
}