.Register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.form-container-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 45%;
    overflow: hidden;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 2%;
    background-color: aliceblue;
    position: relative;
}

.form-container-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    position: relative;
    z-index: 2;
}

.box {
    /* width: 100%; */
    /* padding: 2rem; */
    margin: .5rem 0rem .5rem 0rem;
}

.button {
    margin: 2rem;
}

.logofondo {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 15%;
    z-index: 1;
}

.volver-register-contenedor {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
}

.volver-register {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}